@import "tailwindcss";

.choose_label {
  border: 1px dashed #2e73ff !important;
}

.align_label {
  border: 1px dashed #10b888 !important;
}

ul,
ol {
  padding-left: 20px;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  list-style-position: outside;
}
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* ===== WebKit (Chrome/Edge/Safari) ===== */

/* 兼容 Firefox 的滚动条 */
* {
  scrollbar-color: #999999 transparent; /* thumb 轨道 */
  scrollbar-width: thin; /* thumb 轨道 */
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 5px;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #999999;
  border-radius: 5px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

/* 横纵滚动条交汇处 */
::-webkit-scrollbar-corner {
  display: block;
}

/* ===== Firefox ===== */
