@import "tailwindcss";

.choose_label {
  border: 1px dashed red !important;
}

.align_label {
  border: 1px dashed red !important;
}

ul,
ol {
  padding-left: 20px;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  list-style-position: outside;
}
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}
